.modalCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 24px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.modalContent {
    position: fixed;
    left: 10%;
    width: 80%;
    z-index: 999;
    overflow: hidden;
    background: white;
    padding: 1rem;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
}